# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.D&DDR.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Repos\D&DDR\.idea\.idea.D&DDR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
